.git
.gitignore

.env
.env.*
!.env.example

node_modules
vendor

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

.phpunit.result.cache
.phpunit.cache

.idea
.vscode
.fleet
.nova
.zed

.DS_Store
Thumbs.db

manthan_school.sql